@import "tailwindcss";


* {
    box-sizing: border-box;
  }

.action-btn{
    color: rgb(184, 184, 184);
    border: 1px solid rgb(129, 129, 129);
    transition: 0.3s ease-in-out;
    backdrop-filter: blur(var(--blur-md));
}

.action-btn:hover{
    color: white;
    background-color: oklch(50.8% 0 0);
    cursor: pointer;
    
    transition: 0.3s ease-in-out;
}


